<a href="https://colab.research.google.com/github/Jonny-T87/ML-Projects/blob/main/HadoopHDFS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pathlib import Path
import os

In [2]:
#downloading hdfs
!pip install hdfs

Collecting hdfs
  Downloading hdfs-2.7.3.tar.gz (43 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.5/43.5 kB 1.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting docopt (from hdfs)
  Downloading docopt-0.6.2.tar.gz (25 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: requests>=2.7.0 in /usr/local/lib/python3.10/dist-packages (from hdfs) (2.31.0)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.10/dist-packages (from hdfs) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.7.0->hdfs) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.7.0->hdfs) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.7.0->hdfs) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.7.0->hdfs) (2024.7.4)
Building wheels for collected packages: hdfs, docopt
  Building wheel for hdfs (setup.py) ... done
  Created wheel for hdfs: filename=hdfs-2.7.3-py3-none-any.whl size=34324 sha256=cfd077226b58b5161767fa376e85269dae61b43fbb376b43d4202783b62d4916
  Stored in directory: /root/.cache/pip/wheels/e5/8d/b6/99c1c0a3ac5788c866b0ecd3f48b0134a5910e6ed26011800b
  Building wheel for docopt (setup.py) ... done
  Created wheel for docopt: filename=docopt-0.6.2-py2.py3-none-any.whl size=13706 sha256=ce26319303e6c6386a553d095f7ff04b4fb5451b96a34c9bca0ea527282e831d
  Stored in directory: /root/.cache/pip/wheels/fc/ab/d4/5da2067ac95b36618c629a5f93f809425700506f72c9732fac
Successfully built hdfs docopt
Installing collected packages: docopt, hdfs
Successfully installed docopt-0.6.2 hdfs-2.7.3

In [3]:
#installing pyspark & findspark
!pip install pyspark
!pip install findspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 2.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=143443095add9b6587ab39016357b753b41cab6ecc5fb2c1e2ac85377122eb27
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1
Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.1

In [4]:
!pip install tables

Requirement already satisfied: tables in /usr/local/lib/python3.10/dist-packages (3.8.0)
Requirement already satisfied: cython>=0.29.21 in /usr/local/lib/python3.10/dist-packages (from tables) (3.0.10)
Requirement already satisfied: numpy>=1.19.0 in /usr/local/lib/python3.10/dist-packages (from tables) (1.25.2)
Requirement already satisfied: numexpr>=2.6.2 in /usr/local/lib/python3.10/dist-packages (from tables) (2.10.1)
Requirement already satisfied: blosc2~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from tables) (2.0.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from tables) (24.1)
Requirement already satisfied: py-cpuinfo in /usr/local/lib/python3.10/dist-packages (from tables) (9.0.0)
Requirement already satisfied: msgpack in /usr/local/lib/python3.10/dist-packages (from blosc2~=2.0.0->tables) (1.0.8)

##Part 1

In [5]:
!hadoop namenode -format

/bin/bash: line 1: hadoop: command not found

In [6]:
!hadoop fs -mkdir /data

/bin/bash: line 1: hadoop: command not found

In [7]:
#starting hdfs
!start-dfs.sh

/bin/bash: line 1: start-dfs.sh: command not found

In [8]:
#creating file
!HADOOP_HOME/bin/hadoop fs -ls

/bin/bash: line 1: HADOOP_HOME/bin/hadoop: No such file or directory

In [9]:
#creating input directory
!HADOOP_HOME/bin/hadoop fs -mkdir /user/input

/bin/bash: line 1: HADOOP_HOME/bin/hadoop: No such file or directory

In [10]:
#transfering and storing data file from local system to Hadoop
!HADOOP_HOME/bin/hadoop fs -put/home/file.txt/user/input

/bin/bash: line 1: HADOOP_HOME/bin/hadoop: No such file or directory

In [11]:
#Verifying file using ls command
!HADOOP_HOME/bin/hadoop fs -ls /user/input

/bin/bash: line 1: HADOOP_HOME/bin/hadoop: No such file or directory

In [12]:
#viewing data from HDFS
!HADOOP_HOME/bin/hadoop fs -cat /user/output/outfile

/bin/bash: line 1: HADOOP_HOME/bin/hadoop: No such file or directory

In [13]:
#getting file from HDFS to local file system
!HADOOP_HOME/bin/hadoop fs -get /user/output/ /home/hadoop_tp/

/bin/bash: line 1: HADOOP_HOME/bin/hadoop: No such file or directory

In [14]:
#shuting down HDFS
!stop-dfs.sh

/bin/bash: line 1: stop-dfs.sh: command not found

##Part 2

In [15]:
# Updating apt-get repository.
!apt-get update

Get:1 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,626 B]
Hit:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Hit:3 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:4 http://security.ubuntu.com/ubuntu jammy-security InRelease [129 kB]
Get:5 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [128 kB]
Ign:6 https://r2u.stat.illinois.edu/ubuntu jammy InRelease
Get:7 https://r2u.stat.illinois.edu/ubuntu jammy Release [5,713 B]
Hit:8 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Get:9 https://r2u.stat.illinois.edu/ubuntu jammy Release.gpg [793 B]
Get:10 http://security.ubuntu.com/ubuntu jammy-security/universe amd64 Packages [1,127 kB]
Hit:11 http://archive.ubuntu.com/ubuntu jammy-backports InRelease
Get:12 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease [24.3 kB]
Get:13 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [2,299 kB]
Hit:14 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Get:15 https://r2u.stat.illinois.edu/ubuntu jammy/main all Packages [8,187 kB]
Get:16 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy/main amd64 Packages [48.1 kB]
Get:17 http://security.ubuntu.com/ubuntu jammy-security/restricted amd64 Packages [2,655 kB]
Get:18 http://security.ubuntu.com/ubuntu jammy-security/main amd64 Packages [2,034 kB]
Get:19 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,411 kB]
Get:20 http://archive.ubuntu.com/ubuntu jammy-updates/restricted amd64 Packages [2,728 kB]
Get:21 https://r2u.stat.illinois.edu/ubuntu jammy/main amd64 Packages [2,546 kB]
Fetched 23.3 MB in 8s (2,852 kB/s)
Reading package lists... Done
W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)

In [16]:
# Installing Java.
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [17]:
# Downloading Apache Sparks.
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz

In [18]:
# Unziping the tgz file.
!tar xf spark-3.1.1-bin-hadoop3.2.tgz

In [19]:
#setting os enviorment for spark and java
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2/"
!ls $SPARK_HOME

bin   data	jars	    LICENSE   NOTICE  R		 RELEASE  yarn
conf  examples	kubernetes  licenses  python  README.md  sbin

In [20]:
#local findspark
import findspark
findspark.init()

In [30]:
#importing pyspark & sparksession
import pyspark
from pyspark.sql import SparkSession

In [22]:
#getting pySpark shell
spark = SparkSession.builder \
    .master("local[*]") \
    .appName("MySparkApp") \
    .config("spark.ui.port", "4050") \
    .getOrCreate()

spark

In [23]:
#getting existing database from spark api
spark.sql("show databases").show()

+---------+
|namespace|
+---------+
|  default|
+---------+

##Pandas to Spark

In [24]:
#loading dataset file
air_qlty_df = pd.read_hdf('/content/drive/MyDrive/Colab Notebooks/Madrid/madrid.h5', key='28079008')
air_qlty_df.head()

,BEN,CH4,CO,EBE,NMHC,NO,NO_2,NOx,O_3,PM10,PM25,SO_2,TCH,TOL
date,,,,,,,,,,,,,,
2001-07-01 01:00:00,30.65,NaN,6.91,42.639999,NaN,NaN,381.299988,1017.000000,9.010000,158.899994,NaN,47.509998,NaN,76.050003
2001-07-01 02:00:00,29.59,NaN,2.59,50.360001,NaN,NaN,209.500000,409.200012,23.820000,104.800003,NaN,20.950001,NaN,84.900002
2001-07-01 03:00:00,4.69,NaN,0.76,25.570000,NaN,NaN,116.400002,143.399994,31.059999,48.470001,NaN,11.270000,NaN,20.980000
2001-07-01 04:00:00,4.46,NaN,0.74,22.629999,NaN,NaN,116.199997,149.300003,23.780001,47.500000,NaN,10.100000,NaN,14.770000
2001-07-01 05:00:00,2.18,NaN,0.57,11.920000,NaN,NaN,100.900002,124.800003,29.530001,49.689999,NaN,7.680000,NaN,8.970000

In [25]:
#resetting datetime index to not lose information when loading into Spark
air_qlty_df = air_qlty_df.reset_index()
air_qlty_df.head()

,date,BEN,CH4,CO,EBE,NMHC,NO,NO_2,NOx,O_3,PM10,PM25,SO_2,TCH,TOL
0,2001-07-01 01:00:00,30.65,NaN,6.91,42.639999,NaN,NaN,381.299988,1017.000000,9.010000,158.899994,NaN,47.509998,NaN,76.050003
1,2001-07-01 02:00:00,29.59,NaN,2.59,50.360001,NaN,NaN,209.500000,409.200012,23.820000,104.800003,NaN,20.950001,NaN,84.900002
2,2001-07-01 03:00:00,4.69,NaN,0.76,25.570000,NaN,NaN,116.400002,143.399994,31.059999,48.470001,NaN,11.270000,NaN,20.980000
3,2001-07-01 04:00:00,4.46,NaN,0.74,22.629999,NaN,NaN,116.199997,149.300003,23.780001,47.500000,NaN,10.100000,NaN,14.770000
4,2001-07-01 05:00:00,2.18,NaN,0.57,11.920000,NaN,NaN,100.900002,124.800003,29.530001,49.689999,NaN,7.680000,NaN,8.970000

In [27]:
#changing date and time from string to date
air_qlty_df['date'] = air_qlty_df['date'].dt.strftime('%Y-%m-%d %H:%M:%S')
air_qlty_df.head()

,date,BEN,CH4,CO,EBE,NMHC,NO,NO_2,NOx,O_3,PM10,PM25,SO_2,TCH,TOL
0,2001-07-01 01:00:00,30.65,NaN,6.91,42.639999,NaN,NaN,381.299988,1017.000000,9.010000,158.899994,NaN,47.509998,NaN,76.050003
1,2001-07-01 02:00:00,29.59,NaN,2.59,50.360001,NaN,NaN,209.500000,409.200012,23.820000,104.800003,NaN,20.950001,NaN,84.900002
2,2001-07-01 03:00:00,4.69,NaN,0.76,25.570000,NaN,NaN,116.400002,143.399994,31.059999,48.470001,NaN,11.270000,NaN,20.980000
3,2001-07-01 04:00:00,4.46,NaN,0.74,22.629999,NaN,NaN,116.199997,149.300003,23.780001,47.500000,NaN,10.100000,NaN,14.770000
4,2001-07-01 05:00:00,2.18,NaN,0.57,11.920000,NaN,NaN,100.900002,124.800003,29.530001,49.689999,NaN,7.680000,NaN,8.970000

In [32]:
#making spark database
air_qlty_sdf = spark.createDataFrame(air_qlty_df.to_dict('records'))
air_qlty_sdf

DataFrame[BEN: double, CH4: double, CO: double, EBE: double, NMHC: double, NO: double, NO_2: double, NOx: double, O_3: double, PM10: double, PM25: double, SO_2: double, TCH: double, TOL: double, date: string]

In [33]:
#checking dtypes of columns
air_qlty_sdf.dtypes

[('BEN', 'double'),
 ('CH4', 'double'),
 ('CO', 'double'),
 ('EBE', 'double'),
 ('NMHC', 'double'),
 ('NO', 'double'),
 ('NO_2', 'double'),
 ('NOx', 'double'),
 ('O_3', 'double'),
 ('PM10', 'double'),
 ('PM25', 'double'),
 ('SO_2', 'double'),
 ('TCH', 'double'),
 ('TOL', 'double'),
 ('date', 'string')]

In [43]:
#manipulating database using PySpark
air_qlty_sdf.select('date', 'NOx').show(5)

+-------------------+------------------+
|               date|               NOx|
+-------------------+------------------+
|2001-07-01 01:00:00|            1017.0|
|2001-07-01 02:00:00|409.20001220703125|
|2001-07-01 03:00:00|143.39999389648438|
|2001-07-01 04:00:00| 149.3000030517578|
|2001-07-01 05:00:00|124.80000305175781|
+-------------------+------------------+
only showing top 5 rows

##Spark to Hive

In [44]:
#quering Spark database using Hadoop SQL engine (Hive)
air_qlty_sdf.createOrReplaceTempView("air_qlty")

In [45]:
#creating sql database Analytics

sql_drop_table = """
drop table if exists analytics.pandas_spark_hive
"""

sql_drop_database = """
drop database if exists analytics cascade
"""

sql_create_database = """
create database if not exists analytics
location '/user/cloudera/analytics/'
"""

sql_create_table = """
create table if not exists analytics.pandas_spark_hive
using parquet
as select to_timestamp(date) as date_parsed, *
from air_qlty
"""

print("dropping database...")
result_drop_db = spark.sql(sql_drop_database)

print("creating database...")
result_create_db = spark.sql(sql_create_database)

print("dropping table...")
result_droptable = spark.sql(sql_drop_table)

print("creating table...")
result_create_table = spark.sql(sql_create_table)

dropping database...
creating database...
dropping table...
creating table...

In [46]:
#using Spark SQL engine to check database table
spark.sql("show tables").show()

+--------+---------+-----------+
|database|tableName|isTemporary|
+--------+---------+-----------+
|        | air_qlty|       true|
+--------+---------+-----------+

In [61]:
#using Spark SQL engine
spark.sql("select * from analytics.pandas_spark_hive").show()

+-------------------+------------------+---+-------------------+------------------+----+---+------------------+------------------+------------------+------------------+----+------------------+---+------------------+-------------------+
|        date_parsed|               BEN|CH4|                 CO|               EBE|NMHC| NO|              NO_2|               NOx|               O_3|              PM10|PM25|              SO_2|TCH|               TOL|               date|
+-------------------+------------------+---+-------------------+------------------+----+---+------------------+------------------+------------------+------------------+----+------------------+---+------------------+-------------------+
|2001-07-01 01:00:00|30.649999618530273|NaN|  6.909999847412109| 42.63999938964844| NaN|NaN|381.29998779296875|            1017.0| 9.010000228881836|158.89999389648438| NaN|  47.5099983215332|NaN| 76.05000305175781|2001-07-01 01:00:00|
|2001-07-01 02:00:00| 29.59000015258789|NaN| 2.5899999141693115| 50.36000061035156| NaN|NaN|             209.5|409.20001220703125| 23.81999969482422|104.80000305175781| NaN|20.950000762939453|NaN|  84.9000015258789|2001-07-01 02:00:00|
|2001-07-01 03:00:00| 4.690000057220459|NaN| 0.7599999904632568| 25.56999969482422| NaN|NaN| 116.4000015258789|143.39999389648438|31.059999465942383|48.470001220703125| NaN|11.270000457763672|NaN|20.979999542236328|2001-07-01 03:00:00|
|2001-07-01 04:00:00| 4.460000038146973|NaN| 0.7400000095367432|  22.6299991607666| NaN|NaN|116.19999694824219| 149.3000030517578|23.780000686645508|              47.5| NaN|10.100000381469727|NaN|14.770000457763672|2001-07-01 04:00:00|
|2001-07-01 05:00:00| 2.180000066757202|NaN| 0.5699999928474426|11.920000076293945| NaN|NaN| 100.9000015258789|124.80000305175781|29.530000686645508|49.689998626708984| NaN| 7.679999828338623|NaN| 8.970000267028809|2001-07-01 05:00:00|
|2001-07-01 06:00:00|1.4299999475479126|NaN|0.46000000834465027| 7.820000171661377| NaN|NaN| 87.58000183105469|103.30000305175781| 38.31999969482422|  29.8700008392334| NaN| 7.590000152587891|NaN| 8.180000305175781|2001-07-01 06:00:00|
|2001-07-01 07:00:00|1.2699999809265137|NaN|0.46000000834465027| 6.480000019073486| NaN|NaN|              82.5|  93.6500015258789|40.290000915527344|33.779998779296875| NaN| 7.940000057220459|NaN| 7.659999847412109|2001-07-01 07:00:00|
|2001-07-01 08:00:00|1.8300000429153442|NaN|0.41999998688697815|               6.5| NaN|NaN| 75.68000030517578|  86.8499984741211|39.720001220703125|50.849998474121094| NaN| 8.170000076293945|NaN| 7.880000114440918|2001-07-01 08:00:00|
|2001-07-01 09:00:00|              1.25|NaN| 0.4099999964237213| 4.199999809265137| NaN|NaN|  75.5199966430664| 88.70999908447266|44.060001373291016|39.779998779296875| NaN| 7.949999809265137|NaN| 6.239999771118164|2001-07-01 09:00:00|
|2001-07-01 10:00:00| 1.649999976158142|NaN| 0.4300000071525574| 4.480000019073486| NaN|NaN| 71.66000366210938| 86.51000213623047| 53.34000015258789|44.209999084472656| NaN| 8.359999656677246|NaN| 5.730000019073486|2001-07-01 10:00:00|
|2001-07-01 11:00:00|1.4299999475479126|NaN| 0.4699999988079071| 3.619999885559082| NaN|NaN| 72.77999877929688| 91.18000030517578| 64.94999694824219|26.579999923706055| NaN| 8.270000457763672|NaN| 5.360000133514404|2001-07-01 11:00:00|
|2001-07-01 12:00:00| 1.190000057220459|NaN| 0.4099999964237213| 3.380000114440918| NaN|NaN|56.029998779296875| 70.16000366210938| 90.91999816894531| 27.68000030517578| NaN| 7.920000076293945|NaN| 4.949999809265137|2001-07-01 12:00:00|
|2001-07-01 13:00:00|1.0700000524520874|NaN|0.41999998688697815|3.1700000762939453| NaN|NaN| 49.65999984741211| 62.06999969482422| 105.9000015258789|30.790000915527344| NaN|  7.21999979019165|NaN| 4.789999961853027|2001-07-01 13:00:00|
|2001-07-01 14:00:00|1.1799999475479126|NaN|0.44999998807907104|3.0399999618530273| NaN|NaN| 52.04999923706055| 64.83000183105469|108.19999694824219| 26.59000015258789| NaN| 5.960000038146973|NaN| 4.550000190734863|2001-07-01 14:00:00|
|2001-07-01 15:00:00|1.5800000429153442|NaN| 0.3499999940395355| 3.700000047683716| NaN|NaN|42.040000915527344| 51.81999969482422|118.80000305175781| 31.34000015258789| NaN|               6.0|NaN| 4.019999980926514|2001-07-01 15:00:00|
|2001-07-01 16:00:00|1.2200000286102295|NaN|0.28999999165534973| 2.859999895095825| NaN|NaN|28.549999237060547| 33.38999938964844|132.89999389648438| 32.45000076293945| NaN|              5.25|NaN|              2.75|2001-07-01 16:00:00|
|2001-07-01 17:00:00|1.2799999713897705|NaN|0.28999999165534973| 2.309999942779541| NaN|NaN| 34.83000183105469| 40.13999938964844| 135.3000030517578|28.729999542236328| NaN| 5.340000152587891|NaN| 2.440000057220459|2001-07-01 17:00:00|
|2001-07-01 18:00:00|1.8200000524520874|NaN|0.28999999165534973| 2.569999933242798| NaN|NaN|  32.5099983215332| 35.79999923706055|141.60000610351562|27.530000686645508| NaN| 5.170000076293945|NaN|2.7300000190734863|2001-07-01 18:00:00|
|2001-07-01 19:00:00|1.7200000286102295|NaN| 0.4399999976158142|2.4000000953674316| NaN|NaN| 59.45000076293945| 70.81999969482422| 121.0999984741211|             40.25| NaN| 5.949999809265137|NaN| 3.130000114440918|2001-07-01 19:00:00|
|2001-07-01 20:00:00|1.6100000143051147|NaN| 0.4699999988079071|2.7300000190734863| NaN|NaN| 66.91000366210938| 76.80000305175781| 114.4000015258789|32.029998779296875| NaN|              6.25|NaN|3.9100000858306885|2001-07-01 20:00:00|
+-------------------+------------------+---+-------------------+------------------+----+---+------------------+------------------+------------------+------------------+----+------------------+---+------------------+-------------------+
only showing top 20 rows

In [62]:
#checking certain columns date and 0_3
spark.sql("select * from analytics.pandas_spark_hive") \
.select("date_parsed", "O_3").show(5)

+-------------------+------------------+
|        date_parsed|               O_3|
+-------------------+------------------+
|2001-07-01 01:00:00| 9.010000228881836|
|2001-07-01 02:00:00| 23.81999969482422|
|2001-07-01 03:00:00|31.059999465942383|
|2001-07-01 04:00:00|23.780000686645508|
|2001-07-01 05:00:00|29.530000686645508|
+-------------------+------------------+
only showing top 5 rows